.rooms {
  display: flex;

  margin: 5rem;
}

.page {
  padding: 2rem;
}

.game-page {
  display: flex;
}

.page-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.create-room-btn {
  width: 9rem;

  padding: 0.3rem 0;

  margin-top: 2rem;

  border: 2px solid black;

  font-size: 1.2rem;
  font-weight: 700;

  background-color: gray;
}

.room {
  height: 170px;
  width: 170px;

  border: 2px solid black;

  margin: 0.5rem;
  padding-top: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-connected-count {
  display: block;

  margin-left: 1rem;
}

.room-name {
  display: block;

  font-size: 1.2rem;
  font-weight: 700;

  text-align: center;
}

.join-btn {
  height: 3rem;
  width: 4rem;

  margin-top: 2rem;

  border: 2px solid black;

  font-size: 1.2rem;
  font-weight: 700;

  background-color: gray;
}

.back-to-rooms {
  height: 3rem;
  width: 12rem;

  margin-top: 2rem;

  border: 2px solid black;

  font-size: 1.2rem;
  font-weight: 700;

  background-color: gray;
}

.left-wrapper {
  width: 14rem;
  height: 100%;
}

.users-list {
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  flex-direction: column;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-name {
  display: block;

  margin-left: 1rem;
}

.ready-status {
  width: 1rem;
  height: 1rem;

  border-radius: 50%;
}

.ready-status-red {
  background-color: crimson;
}

.ready-status-green {
  background-color: greenyellow;
}

.user-progress-border {
  width: 100%;
  height: 1rem;

  margin-top: 0.3rem;

  border: 2px solid black;
}

.user-progress {
  height: 100%;
}

.right-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-start;

  padding-top: 2rem;
  padding-left: 2rem;
  margin-left: 10rem;
}

.game-area {
  position: relative;

  width: 50rem;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid black;

  text-align: center;
}

.ready-btn {
  height: 4rem;
  width: 8rem;

  font-size: 1.2rem;
  font-weight: 700;

  border: 2px solid black;

  background-color: gray;
}

#timer {
  font-size: 5rem;
  font-weight: 700;

  color: gray;
}

#time-left {
  position: absolute;

  top: 1%;
  right: 2%;
}

#text-container {
  width: 13.5rem;
  max-width: 13.5rem;
  height: 20rem;

  text-align: unset;
}

.correct-text {
  background-color: greenyellow;
}

.underline-next::after {
  position: absolute;
  content: "  ";
  border-bottom: 1px solid greenyellow;
}

.winners-modal {
  position: absolute;

  z-index: 5;

  top: 10%;
  left: 40%;

  height: 40rem;
  width: 20rem;

  border: 2px solid black;

  background: white;
}

.winners-modal span {
  font-size: 1.2rem;
  font-weight: 700;
}

.winners-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 1rem;

  border-bottom: 2px solid gray;
}

.winner-modal-body {
  padding: 0.5rem;
}

.winner-modal-user {
  display: block;
}

#comment {
  width: 20rem;

  margin-left: 4rem;
  font-size: 1.2rem;
  font-weight: 700;
}
